@import "_media";
@import "_fonts";
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: Gotham Pro;
    color: #000000;
}

body {
    background-image: url(../images/bg-body.png);
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    max-width: 100%;
    background-image: url(../images/bg-header.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    &-top-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
